div.snippet-form {
  /*background-color: red;*/
}

div.snippet-form input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0 2px 0 2px;
  margin: 2;
  /*background: transparent;*/
}
