div.snippet-form {
  /*background-color: red;*/
  display:inline-block;
}

div.snippet-form span[contenteditable=true] {
  padding: 0 1px 0 1px;
  border-bottom:1px dashed darkgray;
  background-color: rgba(255,255,255,0.2);
}

div.snippet-form span[contenteditable=true]:empty:not(:focus):before {content:attr(data-ph);}

div.snippet-form input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0 2px 0 2px;
  margin: 2;
  /*background: transparent;*/
}
