div.snippet-form {
  /*background-color: red;*/
  display:inline-block;
}

div.snippet-form span[contenteditable=true] {
  padding: 3px 2px 1px 2px;
  border-bottom:1px dashed darkgray;
  background-color: var(pane-bg);
}

div.snippet-form span[contenteditable=true]:empty:not(:focus):before {content:attr(data-ph);}

div.snippet-form input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0 2px 0 2px;
  margin: 2;
  /*background: transparent;*/
}


div.snippet-select-form {
  display: inline-block;
  background: none;
  padding:0;
  margin: 0;

}


div.snippet-select-form select {
  -webkit-appearance:none;
  vertical-align: top;
  /*margin-top: -10px;*/
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background: var(pane-bg);
  border: 1px solid var(pane-bg);
}




